# basic

In [63]:
import numpy as np
import pandas as pd

In [64]:

test=pd.read_csv(r"F:/collage/Machine-learning/Lab-9/test.csv")
train=pd.read_csv(r"F:/collage/Machine-learning/Lab-9/train.csv")

In [65]:
numeric_colummns=train.select_dtypes(include=np.number).columns
columns=train.columns

categorical_columns=[]

for c in columns:
    if c not in numeric_colummns:
        categorical_columns.append(c)

In [66]:
def map(data):

    for c in ["default","housing","loan","y"]:
        data[c].replace({"no":0,"yes":1},inplace=True)
    data = pd.get_dummies(data, columns=["job","marital","education","contact","month","poutcome"])
    data.columns
    for c in ['job_admin.', 'job_blue-collar','job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired','job_self-employed', 'job_services', 'job_student', 'job_technician','job_unemployed', 'job_unknown', 'marital_divorced', 'marital_married','marital_single', 'education_primary', 'education_secondary','education_tertiary', 'education_unknown', 'contact_cellular','contact_telephone', 'contact_unknown', 'month_apr', 'month_aug','month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun','month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep','poutcome_failure', 'poutcome_other', 'poutcome_success','poutcome_unknown']:
        data[c]=data[c].replace({"False":0,"True":1})
    data = data.astype(int)
    data.head(5)

    return data

In [67]:
train=map(train)
test=map(test)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15408\2029932642.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[c].replace({"no":0,"yes":1},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15408\2029932642.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[c].replace({"no":0,"yes":1},inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15408\2029932642.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[c].replace({"no":0,"yes":1},inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_15408\2029932642.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[c].replace({"no":0,"yes":1},inplace=True)

# pre prossing

In [68]:
X_train=train.drop("y",axis=1)
y_train=train["y"]

X_test=test.drop("y",axis=1)
y_test=test["y"]

In [69]:
def normalize(df):

    for c in df.columns:
        df[c]=(df[c]-df[c].min()/(df[c].max()-df[c].min()))

    return df

In [70]:
X_train=normalize(X_train)
X_test=normalize(X_test)

In [71]:
X_train=X_train.iloc[1:]
X_test=X_test.iloc[1:]

In [72]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36167 entries, 1 to 36167
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  36167 non-null  float64
 1   default              36167 non-null  float64
 2   balance              36167 non-null  float64
 3   housing              36167 non-null  float64
 4   loan                 36167 non-null  float64
 5   day                  36167 non-null  float64
 6   duration             36167 non-null  float64
 7   campaign             36167 non-null  float64
 8   pdays                36167 non-null  float64
 9   previous             36167 non-null  float64
 10  job_admin.           36167 non-null  float64
 11  job_blue-collar      36167 non-null  float64
 12  job_entrepreneur     36167 non-null  float64
 13  job_housemaid        36167 non-null  float64
 14  job_management       36167 non-null  float64
 15  job_retired          36167 non-null  float64
 16  job_self-employed    36167 non-null  float64
 17  job_services         36167 non-null  float64
 18  job_student          36167 non-null  float64
 19  job_technician       36167 non-null  float64
 20  job_unemployed       36167 non-null  float64
 21  job_unknown          36167 non-null  float64
 22  marital_divorced     36167 non-null  float64
 23  marital_married      36167 non-null  float64
 24  marital_single       36167 non-null  float64
 25  education_primary    36167 non-null  float64
 26  education_secondary  36167 non-null  float64
 27  education_tertiary   36167 non-null  float64
 28  education_unknown    36167 non-null  float64
 29  contact_cellular     36167 non-null  float64
 30  contact_telephone    36167 non-null  float64
 31  contact_unknown      36167 non-null  float64
 32  month_apr            36167 non-null  float64
 33  month_aug            36167 non-null  float64
 34  month_dec            36167 non-null  float64
 35  month_feb            36167 non-null  float64
 36  month_jan            36167 non-null  float64
 37  month_jul            36167 non-null  float64
 38  month_jun            36167 non-null  float64
 39  month_mar            36167 non-null  float64
 40  month_may            36167 non-null  float64
 41  month_nov            36167 non-null  float64
 42  month_oct            36167 non-null  float64
 43  month_sep            36167 non-null  float64
 44  poutcome_failure     36167 non-null  float64
 45  poutcome_other       36167 non-null  float64
 46  poutcome_success     36167 non-null  float64
 47  poutcome_unknown     36167 non-null  float64
dtypes: float64(48)
memory usage: 13.2 MB

In [73]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9042 entries, 1 to 9042
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9042 non-null   float64
 1   default              9042 non-null   float64
 2   balance              9042 non-null   float64
 3   housing              9042 non-null   float64
 4   loan                 9042 non-null   float64
 5   day                  9042 non-null   float64
 6   duration             9042 non-null   float64
 7   campaign             9042 non-null   float64
 8   pdays                9042 non-null   float64
 9   previous             9042 non-null   float64
 10  job_admin.           9042 non-null   float64
 11  job_blue-collar      9042 non-null   float64
 12  job_entrepreneur     9042 non-null   float64
 13  job_housemaid        9042 non-null   float64
 14  job_management       9042 non-null   float64
 15  job_retired          9042 non-null   float64
 16  job_self-employed    9042 non-null   float64
 17  job_services         9042 non-null   float64
 18  job_student          9042 non-null   float64
 19  job_technician       9042 non-null   float64
 20  job_unemployed       9042 non-null   float64
 21  job_unknown          9042 non-null   float64
 22  marital_divorced     9042 non-null   float64
 23  marital_married      9042 non-null   float64
 24  marital_single       9042 non-null   float64
 25  education_primary    9042 non-null   float64
 26  education_secondary  9042 non-null   float64
 27  education_tertiary   9042 non-null   float64
 28  education_unknown    9042 non-null   float64
 29  contact_cellular     9042 non-null   float64
 30  contact_telephone    9042 non-null   float64
 31  contact_unknown      9042 non-null   float64
 32  month_apr            9042 non-null   float64
 33  month_aug            9042 non-null   float64
 34  month_dec            9042 non-null   float64
 35  month_feb            9042 non-null   float64
 36  month_jan            9042 non-null   float64
 37  month_jul            9042 non-null   float64
 38  month_jun            9042 non-null   float64
 39  month_mar            9042 non-null   float64
 40  month_may            9042 non-null   float64
 41  month_nov            9042 non-null   float64
 42  month_oct            9042 non-null   float64
 43  month_sep            9042 non-null   float64
 44  poutcome_failure     9042 non-null   float64
 45  poutcome_other       9042 non-null   float64
 46  poutcome_success     9042 non-null   float64
 47  poutcome_unknown     9042 non-null   float64
dtypes: float64(48)
memory usage: 3.3 MB

In [74]:
y_test.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9043 entries, 0 to 9042
Series name: y
Non-Null Count  Dtype
--------------  -----
9043 non-null   int64
dtypes: int64(1)
memory usage: 70.8 KB

In [75]:
y_train.info()

<class 'pandas.core.series.Series'>
RangeIndex: 36168 entries, 0 to 36167
Series name: y
Non-Null Count  Dtype
--------------  -----
36168 non-null  int64
dtypes: int64(1)
memory usage: 282.7 KB

In [76]:
y_train=y_train.iloc[1:]
y_test=y_test.iloc[1:]

# model

In [77]:


# --- Training Phase ---
def fit_naive_bayes(X, y):
    classes = np.unique(y)
    means = {}
    variances = {}
    priors = {}

    for c in classes:
        X_c = X[y == c]
        means[c] = X_c.mean(axis=0)
        variances[c] = X_c.var(axis=0) + 1e-9  # avoid divide by zero
        priors[c] = X_c.shape[0] / X.shape[0]
    return classes, means, variances, priors


# --- Gaussian Probability Density Function ---
def gaussian_prob(x, mean, var):
    numerator = np.exp(-((x - mean) ** 2) / (2 * var))
    denominator = np.sqrt(2 * np.pi * var)
    return numerator / denominator


# --- Prediction Phase ---
def predict_naive_bayes(X, classes, means, variances, priors):
    y_pred = []
    for x in X:
        posteriors = []
        for c in classes:
            prior = np.log(priors[c])
            conditional = np.sum(np.log(gaussian_prob(x, means[c], variances[c])))
            posterior = prior + conditional
            posteriors.append(posterior)
        y_pred.append(classes[np.argmax(posteriors)])
    return np.array(y_pred)

In [78]:
def evaluate(y_true, y_pred, name="Model"):
    accuracy = np.mean(y_true == y_pred)
    precision_list, recall_list, f1_list = [], [], []

    for c in np.unique(y_true):
        tp = np.sum((y_pred == c) & (y_true == c))
        fp = np.sum((y_pred == c) & (y_true != c))
        fn = np.sum((y_pred != c) & (y_true == c))

        precision = tp / (tp + fp + 1e-9)
        recall = tp / (tp + fn + 1e-9)
        f1 = 2 * precision * recall / (precision + recall + 1e-9)

        precision_list.append(precision)
        recall_list.append(recall)
        f1_list.append(f1)

    accuracy_score, precision_score, recall_score, f1_score = (
        accuracy,
        np.mean(precision_list),
        np.mean(recall_list),
        np.mean(f1_list),
    )

    print(f"Model: {name}")
    print(f"Accuracy:  {accuracy_score:.4f}")
    print(f"Precision: {precision_score:.4f}")
    print(f"Recall:    {recall_score:.4f}")
    print(f"F1 Score:  {f1_score:.4f}")

    return accuracy_score, precision_score, recall_score, f1_score

#  impementing

In [79]:
X_train = np.array(X_train, dtype=float)
X_test = np.array(X_test, dtype=float)

In [82]:

# --- Train & Predict ---
classes, means, variances, priors = fit_naive_bayes(X_train, y_train)
y_pred = predict_naive_bayes(X_test, classes, means, variances, priors)

# --- Evaluate on Test Data ---
accuracy_score, precision_score, recall_score, f1_score=evaluate(y_test, y_pred, name="Naive Bayes Classifier")

Model: Naive Bayes Classifier
Accuracy:  0.8595
Precision: 0.6749
Recall:    0.7031
F1 Score:  0.6872